.wrapper
  .header
    .left-header
      .left-header__title
        Fａｖｏｒｉｔｅ  ｍｏｖｉｅ
    .right-header
      .right-header__button
        %i.fas.fa-cog
      .right-header__users
        user.name

  .main
    .category-ranking
      Ranking
      .category-ranking__title
    .guid
    .category-topic
      Topic work
      .category-topic__title
    .guid
    .category-Foreignfilm
      Foreign film
      .category-topic__title
    .guid
    .category-animation
      animation
      .category-topic__title
    .guid
